.wrapperCard {
  position: relative;
  max-width: 310px;
  width: 100%;
  justify-self: center;
}

.wrapperCard a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
  margin: 0 auto;
  overflow: hidden;
  cursor: pointer;
  border-radius: var(--border-radius);
}

.wrapperCard span {
  color: #f5be08;
}

.wrapperCard span:before {
  content: "★";
  margin-right: 2px;
}

.image {
  width: 100%;
  height: 375px;
  object-fit: cover;
  object-position: top;
  transition: 0.3s;
  border-radius: var(--border-radius);
}

.image:hover {
  scale: 1.02;
  transition: 0.3s;
}

.favouriteBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
  border: none;
  color: white;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.16);
  transition: 0.5s;
  z-index: 9;
}

.favouriteBtn:hover {
  background-color: #fc351b60;
  scale: 1.3;
  transition: 0.5s;
}

.favActive {
  transform: rotate(360deg);
  background-color: var(--color-button);
  color: var(--color-button);
}