.castWrapper {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.cast {
  width: 80px;
  transition: 0.3s;
}

.cast img {
  border-radius: var(--border-radius);
  width: 80px;
  height: 124px;
}

.cast:hover {
  scale: 1.03;
  transition: 0.3s;
}